.serious-modal {
	font-style: normal;
	font-weight: bold
}

@media (max-width: 240px) {

.serious-modal:not(:focus) {
			outline: none
}
	}

.modal {
	border: thick dotted red
}

.modal {

	color: red
}

.modal:hover:not(:focus) {
			outline: none;
		}
