%vars-1 {
    --color: brown;
}

%vars-2 {
    --border-color: gray;
}

%vars-3 {
    --background-color: blue;
}

%vars-4 {
    @extend %vars-1;
    @extend %vars-2;
    @extend %vars-3;
}

%vars-5 {
    --hover-color: green;
}

body {
    @extend %vars-1;
    @extend %vars-2;
    margin: 10px;
    padding: 12px;
}

div {    
    @extend %vars-4;
    margin: 4px;
    padding: 6px;
}