.my_placeholder {
	color: red;
}

@media screen and (min-width: 920px) {

	.my_placeholder {
		color: green;
	}
}

.test-content {
	color: red;
}

@media screen and (min-width: 920px) {

	.test-content {
		color: green;
	}
}
